{% extends 'base.html' %}

{% block content %}

      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card card-chart">
                <div class="card-header card-header-success">
                  <div class="ct-chart" id="volt_ky"></div>
                </div>
                <div class="card-body">
                  <h4 class="card-title text-center">Voltaje del servicio eléctrico</h4>
                  <p class="card-category text-center">
                    <span class="text-success"><i class="fa fa-bolt "></i></span> El valor nominal oscila entre 200V a 245V AC</p>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">access_time</i> Valores del último día
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="card card-chart">
                <div class="card-header card-header-warning">
                  <div class="ct-chart" id="volt_pe"></div>
                </div>
                <div class="card-body">
                  <h4 class="card-title text-center">Voltaje de la planta eléctrica</h4>
                  <p class="card-category text-center">
                    <span class="text-warning"><i class="fa fa-bolt "></i></span> El valor nominal oscila entre 200V a 245V AC</p>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">access_time</i> Valores del último día
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="card card-chart">
                <div class="card-header card-header-danger">
                  <div class="ct-chart" id="volt_bat"></div>
                </div>
                <div class="card-body">
                  <h4 class="card-title text-center">Voltaje de la batería de encendido</h4>
                  <p class="card-category text-center">
                    <span class="text-danger"><i class="fa fa-bolt "></i></span> El valor nominal oscila entre 10V a 13V DC</p>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">access_time</i> Valores del último día
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

 
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    $(function(){
        dataVolt_ky = {
        series: [{
        name: 'series-1',
        data: [
          {% for f in context['charts'] %}
          {x: new Date("{{f.fecha.isoformat()}}Z"), y: {{f.volt_ky}} },
          {% endfor %}
        ]
        }]
      };

      dataVolt_pe = {
        series: [{
        name: 'puntos',
        data: [
          {% for f in context['charts'] %}
          {x: new Date("{{f.fecha.isoformat()}}Z"), y: {{f.volt_pe}} },
          {% endfor %}
        ]
        }]
      };

      dataVolt_bat = {
        series: [{
        name: 'puntos',
        data: [
          {% for f in context['charts'] %}
          {x: new Date("{{f.fecha.isoformat()}}Z"), y: {{f.volt_bat}} },
          {% endfor %}
        ]
        }]
      };

      optionsVolt_ky = {
        lineSmooth: Chartist.Interpolation.simple({
    divisor: 2,
    fillHoles: false
  }),
        showPoint: false,
        low: 0,
        high: 240, // creative tim: we recommend you to set the high sa the biggest value + something for a better look
        chartPadding: {
          top: 0,
          right: 0,
          bottom: 0,
          left: 0
        },
        axisX: {
          type: Chartist.FixedScaleAxis,
          divisor: 5,
          labelInterpolationFnc: function(value) {
            return moment(value).format('LT');
          }
        }
      }

      optionsVolt_pe = {
        lineSmooth: Chartist.Interpolation.simple({
    divisor: 2,
    fillHoles: false
  }),
        showPoint: false,
        low: 0,
        high: 240, // creative tim: we recommend you to set the high sa the biggest value + something for a better look
        chartPadding: {
          top: 0,
          right: 0,
          bottom: 0,
          left: 0
        },
        axisX: {
          type: Chartist.FixedScaleAxis,
          divisor: 5,
          labelInterpolationFnc: function(value) {
            return moment(value).format('LT');
          }
        }
      }

      optionsVolt_bat = {
        lineSmooth: Chartist.Interpolation.simple({
    divisor: 2,
    fillHoles: false
  }),
        showPoint: false,
        low: 0,
        high: 16, // creative tim: we recommend you to set the high sa the biggest value + something for a better look
        chartPadding: {
          top: 0,
          right: 0,
          bottom: 0,
          left: 0
        },
        axisX: {
          type: Chartist.FixedScaleAxis,
          divisor: 5,
          labelInterpolationFnc: function(value) {
            return moment(value).format('LT');
          }
        },
        /**axisY: {
          labelInterpolationFnc: function(value){
            return value + " v";
          }
        }**/
      }

      var Volt_kyChart = new Chartist.Line('#volt_ky', dataVolt_ky, optionsVolt_ky);
      md.startAnimationForLineChart(Volt_kyChart);
      var Volt_peChart = new Chartist.Line('#volt_pe', dataVolt_pe, optionsVolt_pe);
      md.startAnimationForLineChart(Volt_peChart);
      var Volt_batChart = new Chartist.Line('#volt_bat', dataVolt_bat, optionsVolt_bat);
      md.startAnimationForLineChart(Volt_batChart);
    });
</script>
{% endblock %}