{% extends 'base.html' %}

{% block content %}

      <div class="content">
        <div class="container-fluid">
          {% if context['data'].alarma != 0 %}
          <div class="row">
            <div class='col-sm-12'>
              <div class="alert alert-danger alert-with-icon" data-notify="container">
                <i class="material-icons" data-notify="icon">priority_high</i>
                <span data-notify="message"><b>¡Advertencia!</b> {{ context.conv_alarmas[context['data'].alarma] }}</span>
              </div>              
            </div>
          </div>
          {% endif %}
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">flash_on</i>
                    <!--<i class="material-icons">offline_bolt</i>-->
                  </div>
                  <p class="card-category">Planta eléctrica</p>
                  <h3 class="card-title" id="on_off">{{ context.conv_status[context['data'].encendido] }}</h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <span>Actualizado {{ moment(context['data'].fecha).fromNow() }}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">wb_incandescent</i>
                  </div>
                  <p class="card-category">Electricidad</p>
                  {% if context['data'].volt_ky < 195 %}
                  <h3 class="card-title" id="luz">No hay</h3>
                  {% else %}
                  <h3 class="card-title" id="luz">Si hay</h3>
                  {% endif %}
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <span>Actualizado {{ moment(context['data'].fecha).fromNow() }}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">ev_station</i>
                  </div>
                  <p class="card-category">Tanque externo</p>
                  <h3 class="card-title" id='tqc'> {{ context.conv_tqc[context['data'].var_tqc] }}
                  </h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <span>Actualizado {{ moment(context['data'].fecha).fromNow() }}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">opacity</i>
                  </div>
                  <p class="card-category">Tanque interno</p>
                  <h3 class="card-title" id="tsb">{{ context.conv_tsb[context['data'].var_tsb] }}</h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <span>Actualizado {{ moment(context['data'].fecha).fromNow() }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="card card-chart">
                <div class="card-header card-header-success">
                  <div class="ct-chart" id="volt_ky"></div>
                </div>
                <div class="card-body">
                  <h4 class="card-title text-center">Voltaje del servicio eléctrico</h4>
                  <p class="card-category text-center">
                    <span class="text-success"><i class="fa fa-bolt "></i></span> Rango nominal: 200~245V AC</p>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">access_time</i> Valores de la última hora
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-chart">
                <div class="card-header card-header-warning">
                  <div class="ct-chart" id="volt_pe"></div>
                </div>
                <div class="card-body">
                  <h4 class="card-title text-center">Voltaje de la planta eléctrica</h4>
                  <p class="card-category text-center">
                    <span class="text-warning"><i class="fa fa-bolt "></i></span> Rango nominal: 200~245V AC</p>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">access_time</i> Valores de la última hora
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-chart">
                <div class="card-header card-header-danger">
                  <div class="ct-chart" id="volt_bat"></div>
                </div>
                <div class="card-body">
                  <h4 class="card-title text-center">Voltaje de la batería de encendido</h4>
                  <p class="card-category text-center">
                    <span class="text-danger"><i class="fa fa-bolt "></i></span> Rango nominal: 10-13V DC</p>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">access_time</i> Valores de la última hora
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

 
{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='assets/js/temporizador.js')}}"></script>
<script type="text/javascript">
  $(function(){
      dataVolt_ky = {
      series: [{
      name: 'series-1',
      data: [
        {% for f in context['charts'] %}
        {x: new Date("{{f.fecha.isoformat()}}Z"), y: {{f.volt_ky}} },
        {% endfor %}
      ]
      }]
    };

    dataVolt_pe = {
      series: [{
      name: 'puntos',
      data: [
        {% for f in context['charts'] %}
        {x: new Date("{{f.fecha.isoformat()}}Z"), y: {{f.volt_pe}} },
        {% endfor %}
      ]
      }]
    };

    dataVolt_bat = {
      series: [{
      name: 'puntos',
      data: [
        {% for f in context['charts'] %}
        {x: new Date("{{f.fecha.isoformat()}}Z"), y: {{f.volt_bat}} },
        {% endfor %}
      ]
      }]
    };

    optionsVolt_ky = {
      lineSmooth: Chartist.Interpolation.cardinal({
  tension: 1,
  fillHoles: false
}),
      showPoint: false,
      low: 0,
      high: 250, // creative tim: we recommend you to set the high sa the biggest value + something for a better look
      chartPadding: {
        top: 0,
        right: 0,
        bottom: 0,
        left: 0
      },
      axisX: {
        type: Chartist.FixedScaleAxis,
        divisor: 3,
        labelInterpolationFnc: function(value) {
          return moment(value).format('LT');
        }
      }
    }

    optionsVolt_pe = {
      lineSmooth: Chartist.Interpolation.simple({
  divisor: 2,
  fillHoles: false
}),
      showPoint: false,
      low: 0,
      high: 245, // creative tim: we recommend you to set the high sa the biggest value + something for a better look
      chartPadding: {
        top: 0,
        right: 0,
        bottom: 0,
        left: 0
      },
      axisX: {
        type: Chartist.FixedScaleAxis,
        divisor: 3,
        labelInterpolationFnc: function(value) {
          return moment(value).format('LT');
        }
      }
    }

    optionsVolt_bat = {
      lineSmooth: Chartist.Interpolation.simple({
  divisor: 2,
  fillHoles: false
}),
      showPoint: false,
      low: 8,
      high: 16, // creative tim: we recommend you to set the high sa the biggest value + something for a better look
      chartPadding: {
        top: 0,
        right: 0,
        bottom: 0,
        left: 0
      },
      axisX: {
        type: Chartist.FixedScaleAxis,
        divisor: 3,
        labelInterpolationFnc: function(value) {
          return moment(value).format('LT');;
        }
      },
      /**axisY: {
        labelInterpolationFnc: function(value){
          return value + " v";
        }
      }**/
    }

    var Volt_kyChart = new Chartist.Line('#volt_ky', dataVolt_ky, optionsVolt_ky);
    md.startAnimationForLineChart(Volt_kyChart);
    var Volt_peChart = new Chartist.Line('#volt_pe', dataVolt_pe, optionsVolt_pe);
    md.startAnimationForLineChart(Volt_peChart);
    var Volt_batChart = new Chartist.Line('#volt_bat', dataVolt_bat, optionsVolt_bat);
    md.startAnimationForLineChart(Volt_batChart);
  });
</script>
{% endblock %}