{% extends 'base.html' %}

{% block content %}

      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Historial</h4>
                  <p class="card-category"> Descripción de los acontecimientos de la planta eléctrica</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>
                          Encendido
                        </th>
                        <th>
                          Apagado
                        </th>
                        <th>
                          Duración
                        </th>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            05:40:00 am
                          </td>
                          <td>
                            06:40:00 am
                          </td>
                          <td>
                            Una hora
                          </td>
                        </tr>
                        <tr>
                          <td>
                            05:40:00 am
                          </td>
                          <td>
                            06:40:00 am
                          </td>
                          <td>
                            Una hora
                          </td>
                        </tr>
                        <tr>
                          <td>
                            05:40:00 am
                          </td>
                          <td>
                            06:40:00 am
                          </td>
                          <td>
                            Una hora
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

{% endblock %}