{% extends 'base.html' %}

{% block content %}

      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Historial</h4>
                  <p class="card-category"> Descripción de los acontecimientos de la planta eléctrica</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table text-center">
                      <thead class=" text-primary">
                        <th>
                          Encendido
                        </th>
                        <th>
                          Apagado
                        </th>
                        <th>
                          Duración
                        </th>
                        <th>
                          Corriente promedio
                        </th>
                        <th>
                          Presion promedio
                        </th>
                       </thead>
                      <tbody>
                      {% for r in context['table'] %}
                        <tr>
                          <td>
                            {{ moment(r.inicio).calendar() }}
                          </td>
                          <td>
                            {{ moment(r.final).calendar() }}
                          </td>
                          <td>
                            {{ r.final - r.inicio }}
                          </td>
                          <td>
                            {{ r.avgcorriente }}
                          </td>
                          <td>
                            {{ r.avgpresion }}
                          </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

{% endblock %}